* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  overflow-x: hidden;
  line-height: 1.6;
}

.header {
  position: absolute;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0.5em 1em;
}
.header__heading {
  font-size: 1.25rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 600;
}
.header__menu-btn {
  display: block;
  z-index: 2000;
  background: transparent;
  background-image: url(./assets/icon-hamburger.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 1.5rem;
  aspect-ratio: 1;
  border: 0;
  cursor: pointer;
}

.nav {
  display: none;
}

.hero__little-circles, .hero__big-circles, .hero__bg-img {
  position: absolute;
  bottom: -220px;
  right: 0;
  z-index: -3;
}

.learn-more, .article, .hero {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  color: #fff;
}

.hero {
  position: relative;
  overflow: hidden;
}
.hero__logo {
  margin-top: 2.5em;
  transition: all 0.5s ease-in-out;
}
.hero__logo:hover {
  transform: rotateY(180deg) scale(1.5);
}
.hero__heading {
  font-family: "Oswald", sans-serif;
  font-size: 3rem;
  font-weight: 700;
}
.hero__subheading {
  font-size: 1.5rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
}
.hero__bg-img {
  width: 1249px;
  height: 821px;
}
.hero__big-circles {
  opacity: 0;
  -webkit-animation: glow 1.5s linear infinite alternate;
          animation: glow 1.5s linear infinite alternate;
}
.hero__little-circles {
  -webkit-animation: move 1.5s linear 1s infinite alternate;
          animation: move 1.5s linear 1s infinite alternate;
}

.article {
  text-align: left;
  color: #464547;
}
.article__heading {
  font-family: "Oswald", sans-serif;
  font-size: 3rem;
  font-weight: 700;
}
.article__subheading {
  font-size: 1.5rem;
  font-weight: 400;
}
.article__btn--read-more {
  background-color: #55c2d8;
  color: #fff;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  border-radius: 18px;
  padding: 0.3em 1.125em;
  border: none;
  cursor: pointer;
  transform-origin: top left;
  transition: all 0.5s ease-in-out;
}
.article__btn--read-more:hover {
  transform: rotate(15deg);
}

.learn-more {
  background-image: url(/assets/bg-img-2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.learn-more__heading {
  font-family: "Oswald", sans-serif;
  font-size: 3rem;
  font-weight: 700;
}
.learn-more__subheading {
  font-size: 1.5rem;
  font-weight: 400;
}
.learn-more__play-button {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 3.3em 0 4.35em;
  cursor: pointer;
}
.learn-more__ellipse {
  transition: all 0.5s ease-in-out;
  transform-origin: center;
}
.learn-more__play-button:hover .learn-more__ellipse {
  transform: scale(0.9);
  fill: #fff;
}
.learn-more__polygon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
}
.learn-more__polygon path {
  transition: all 0.5s ease-in-out;
  transform-origin: center;
}
.learn-more__play-button:hover .learn-more__polygon path {
  transform: scale(0.9);
  fill: #39c2d7;
}

.footer {
  background-color: #464547;
  color: rgba(255, 255, 255, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
}
.footer__logo {
  display: flex;
  align-items: center;
  gap: 1em;
}
.footer__text {
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #fff;
}
.footer__link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
  font-size: 1.125rem;
}

@media (min-width: 768px) {
  .header__menu-btn {
    display: none;
  }
  .nav {
    display: block;
    width: 60%;
  }
  .nav__list {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    list-style: none;
  }
  .nav__item:hover {
    border-bottom: 2px solid #fff;
  }
  .nav__link {
    text-transform: uppercase;
    color: #fff;
    font-size: 0.875rem;
    letter-spacing: 0.2em;
    text-decoration: none;
  }
  .hero__logo {
    margin-top: 6em;
  }
  .wrapper {
    display: flex;
    width: 80%;
    text-align: left;
    justify-content: space-between;
  }
  .wrapper__text {
    width: 45%;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .hero__little-circles, .hero__big-circles, .hero__bg-img {
    display: block;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
  .hero__logo {
    margin-top: 6em;
  }
  .footer {
    text-align: left;
    padding: 1.25em 9em;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
  .footer__logo {
    align-self: flex-start;
  }
}
@-webkit-keyframes glow {
  to {
    opacity: 1;
  }
}
@keyframes glow {
  to {
    opacity: 1;
  }
}
@-webkit-keyframes move {
  to {
    transform: translate(-20px, -10px);
  }
}
@keyframes move {
  to {
    transform: translate(-20px, -10px);
  }
}/*# sourceMappingURL=styles.css.map */