

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $main-font;
  overflow-x: hidden;
  line-height: 1.6;
}

.header {
  position: absolute;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0.5em 1em;

  &__heading {
    font-size: 1.25rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 600;
  }
  &__menu-btn {
    display: block;
    z-index: 2000;
    background: transparent;
    background-image: url(./assets/icon-hamburger.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 1.5rem;
    aspect-ratio: 1;
    border: 0;
    cursor: pointer;
  }
}

.nav {
  display: none;
}

%hero-images {
  position: absolute;
  bottom: -220px;
  right: 0;
  z-index: -3;
}

%shared {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  color: $main-color;
}

.hero {
  @extend %shared;
  position: relative;
  overflow: hidden;
  &__logo {
    margin-top: 2.5em;
    transition: all 0.5s ease-in-out;
  }
  &__logo:hover {
    transform: rotateY(180deg) scale(1.5);
  }
  &__heading {
    font-family: $secondary-font;
    font-size: $fs-700;
    font-weight: 700;
  }
  &__subheading {
    font-size: $fs-600;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
  }
  &__bg-img {
    @extend %hero-images;
    width: 1249px;
    height: 821px;
  }
  &__big-circles {
    @extend %hero-images;
    opacity: 0;

    animation: glow 1.5s linear infinite alternate;
  }
  &__little-circles {
    @extend %hero-images;
    animation: move 1.5s linear 1s infinite alternate;
  }
}

.article {
  @extend %shared;
  text-align: left;
  color: #464547;
  &__heading {
    font-family: $secondary-font;
    font-size: $fs-700;
    font-weight: 700;
  }
  &__subheading {
    font-size: $fs-600;
    font-weight: 400;
  }
  &__btn--read-more {
    background-color: $secondary-color;
    color: $main-color;
    text-transform: uppercase;
    font-family: $secondary-font;
    font-size: $fs-400;
    border-radius: 18px;
    padding: 0.3em 1.125em;
    border: none;
    cursor: pointer;
    transform-origin: top left;
    transition: all 0.5s ease-in-out;
  }
  &__btn--read-more:hover {
    transform: rotate(15deg);
  }
}

.learn-more {
  @extend %shared;
  background-image: url(/assets/bg-img-2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  &__heading {
    font-family: $secondary-font;
    font-size: $fs-700;
    font-weight: 700;
  }
  &__subheading {
    font-size: $fs-600;
    font-weight: 400;
  }
  &__play-button {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 3.3em 0 4.35em;
    cursor: pointer;
  }
  &__ellipse {
    transition: all 0.5s ease-in-out;
    transform-origin: center;
  }
  &__play-button:hover &__ellipse {
    transform: scale(0.9);
    fill: #fff;
  }
  &__polygon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
  }
  &__polygon path {
    transition: all 0.5s ease-in-out;
    transform-origin: center;
  }
  &__play-button:hover &__polygon path {
    transform: scale(0.9);
    fill: #39c2d7;
  }
}

.footer {
  background-color: #464547;
  color: rgba(255, 255, 255, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
  &__logo {
    display: flex;
    align-items: center;
    gap: 1em;
  }
  &__text {
    font-size: $fs-500;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #fff;
  }

  &__link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.4);
    font-size: $fs-500;
  }
}
