@media (min-width: 768px) {
  .header__menu-btn {
    display: none;
  }

  .nav {
    display: block;
    width: 60%;
    &__list {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      list-style: none;
    }
    &__item:hover {
      border-bottom: 2px solid #fff;
    }
    &__link {
      text-transform: uppercase;
      color: #fff;
      font-size: 0.875rem;
      letter-spacing: 0.2em;
      text-decoration: none;
    }
  }

  .hero__logo {
    margin-top: 6em;
  }

  .wrapper {
    display: flex;
    width: 80%;
    text-align: left;
    justify-content: space-between;

    &__text {
      width: 45%;
    }
  }

  @media (min-width: 1200px) {
    %hero-images {
      display: block;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
    }
   
    .hero {
      &__logo {
        margin-top: 6em;
      }
      &__bg-img {
        @extend %hero-images;
      }
      &__big-circles {
        @extend %hero-images;
      }
      &__little-circles {
        @extend %hero-images;
      }
    }

    .footer {
      text-align: left;
      padding: 1.25em 9em;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      &__logo {
        align-self: flex-start;
      }
    }
  }
}
